<h5>Lista de cursos</h5>

<div class="collection">
  <a class="collection-item" *ngFor="let item of cursos" [routerLink]="['/curso', item.id]">{{ item.nome }}</a>
</div>
            

<a class="waves-effect waves-light btn" (click)="proxima()">Próxima</a>
<br>
<p>Página: {{ pagina }}</p>

<br>  
<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li *ngFor="let item of cursos" [class.active]="pagina == item.id ? true : false">
      <a (click)="page(item.id)">{{ item.id }}</a>
    </li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>