<h5>Login</h5>
<br><br>

<div class="row">
  <div class="input-field col s12">
    <input id="usuario" type="text" class="validate" [(ngModel)]="usuario.nome">
    <label class="active" for="usuario">Usuário</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <input id="senha" type="password" class="validate" [(ngModel)]="usuario.senha">
    <label class="active" for="senha">Senha</label>
  </div>
</div>

<button class="btn waves-effect waves-light" type="submit" name="action" (click)="doLogin()">Login
    <i class="material-icons right">send</i>
</button>
